<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeltaUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DeltaUI.Properties.Settings>
            <setting name="ExchangesTypess" serializeAs="String">
                <value>
                    &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                        &lt;string&gt;Bittrex&lt;/string&gt;
                        &lt;string&gt;Kraken&lt;/string&gt;
                        &lt;string&gt;Poloniex&lt;/string&gt;
                        &lt;string&gt;Binance&lt;/string&gt;
                        &lt;string&gt;Coinbase&lt;/string&gt;
                        &lt;string&gt;Cryptonit&lt;/string&gt;
                    &lt;/ArrayOfString&gt;
                </value>
            </setting>
            <setting name="DialogDefaultFolder" serializeAs="String">
                <value>C:\Users\folio\Dropbox\Gordito&amp;Cris\cryptos\Historiales\</value>
            </setting>
        </DeltaUI.Properties.Settings>
    </userSettings>
</configuration>